################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DayOnePointOne/.vs
/DayOnePointOne/bin/Debug/net8.0
/DayOnePointOne/obj
/DayOnePointTwo/.vs/DayOnePointTwo
/DayOnePointTwo/bin/Debug/net8.0
/DayOnePointTwo/obj
/QuickKart/.vs
/QuickKart/QuickKartBL/bin/Debug/net8.0
/QuickKart/QuickKartBL/obj
/QuickKart/QuickKartTestApp/bin/Debug/net8.0
/QuickKart/QuickKartTestApp/obj
/DayOnePointTwo/.vs/ProjectEvaluation
/DayTwoProblem/Chocolate/.vs/Chocolate
/DayTwoProblem/Chocolate/bin/Debug/net8.0
/DayTwoProblem/Chocolate/obj
/DayTwoProblem/Chocolate/.vs/ProjectEvaluation
/DayTwoProblem/Insurance/.vs/Insurance
/DayTwoProblem/Insurance/bin/Debug/net8.0
/DayTwoProblem/Insurance/obj
/DayTwoAssigment/Assigment1/.vs/Assigment1
/DayTwoAssigment/Assigment1/obj
/DayTwoProblem/Insurance/.vs/ProjectEvaluation
/DayTwoAssigment/Assigment1/.vs/ProjectEvaluation
/DayTwoAssigment/Assignment2/.vs/Assignment2
/DayTwoAssigment/Assignment2/bin/Debug/net8.0
/DayTwoAssigment/Assignment2/obj
/DayTwoAssigment/Assignment2/.vs/ProjectEvaluation
/DayTwoAssigment/Assignment3/.vs/Assignment3
/DayTwoAssigment/Assignment3/bin/Debug/net8.0
/DayTwoAssigment/Assignment3/obj
/DayThreeAssignment/BillExtensionAssignment1/.vs/BillExtensionAssignment1
/DayThreeAssignment/BillExtensionAssignment1/bin/Debug/net8.0
/DayThreeAssignment/BillExtensionAssignment1/obj
/DayThreeAssignment/BillExtensionAssignment1/obj/Debug/net8.0/ref/BillExtensionAssignment1.dll
/DayTwoAssigment/Assignment3/.vs/ProjectEvaluation
/DayThreeAssignment/AutomationsCompanyAssignment2/.vs/AutomationsCompanyAssignment2
/DayThreeAssignment/AutomationsCompanyAssignment2/bin/Debug/net8.0
/DayThreeAssignment/AutomationsCompanyAssignment2/obj
/DayThreeAssignment/BillExtensionAssignment1/.vs/ProjectEvaluation
/Day4Problem/FileHandling/.vs/FileHandling
/Day4Problem/FileHandling/bin/Debug/net8.0
/Day4Problem/FileHandling/obj
/DayThreeAssignment/AutomationsCompanyAssignment2/.vs/ProjectEvaluation
